<div class="content">
  <ngx-slick-carousel class="carousel"
                      #slickModal="slick-carousel"
                      [config]="slideConfig">
    <div ngxSlickItem  class="slide" *ngFor="let item of items">
      <div class="card" style="width: 18rem">
        <img src='{{item.img}}'  class="card-img-top" height="200" alt="chair"/>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.desc}}</p>
          <div class="footer">
            <button class="btn btn-primary button" type="button">Buy</button>
            <p class="price">$ {{ item.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
